{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}

    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label class="box" style="cursor:pointer" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}

    <div class="container">
        <button class="myButton" type="submit" data-label='submit'></button>
    </div>
</form>